/*
 * App Custom App variables SCSS
 * ----------------------------------------------------------------------------
 * Place here all custom app variables.
 */

// UCG brand palette.
$ucg-primary:   #ff8201;
$ucg-secondary: #cdcdcd;
$ucg-tertiary:  #3c3c3c;

$brand-color:    $ucg-primary;
$primary:        $ucg-primary;
$primary-dark:   $ucg-primary;
$secondary:      $ucg-secondary;
$secondary-dark: $ucg-secondary;
$tertiary:       $ucg-tertiary;
$tertiary-dark:  $ucg-tertiary;
